/* only small desktops */
/* tablets */
/* only small tablets */
@media only screen and (min-width: 992px) and (max-width: 1180px) {
	.footer-area h3{
		font-size: 18px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-light .navbar-brand{
		margin-left: 15px;
	}
	.navbar-toggler {
	    padding-left: 186px;
	}
	.slides-navigation a {
    background: #8484849e;
    position: absolute;
    height: 35px;
    width: 35px;
    top: 50%;
    font-size: 0px;
    display: block;
    color: #ff1b1bb3;
    border-radius: 4px;
    line-height: 63px;
    text-align: center;
    transition: all .3s ease-in-out;

	.navbar-light .navbar-toggler{
		margin-right: 15px;
		border-radius: 0px;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu{
		box-shadow: none;
	}
	.carousel-control-prev{
		left: -60px;
	}
	.carousel-control-next{
		right: -60px;
	}
	.why-text h4{
		font-size: 18px;
	}
	.why-text p{
		margin: 0px;
	}
}

/* mobile or only mobile */
@media (max-width: 767px) {
	.navbar-light .navbar-brand{
		margin-left: 15px;
	}
	.navbar-light .navbar-toggler{
		margin-right: 15px;
		border-radius: 0px;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu{
		box-shadow: none;
	}
	.slides-navigation a {
    background: #8484849e;
    position: absolute;
    height: 35px;
    width: 35px;
    top: 50%;
    font-size: 0px;
    display: block;
    color: #ff1b1bb3;
    border-radius: 4px;
    line-height: 63px;
    text-align: center;
    transition: all .3s ease-in-out;

	.cover-slides h1{
		font-size: 22px;
	}
	.cover-slides p {
		font-size: 14px;
	}
	.slides-navigation a{
		height: 42px;
		width: 38px;
		line-height: 33px;
	}
	.top-navbar .navbar {
	    padding: 10px 142px;
	    position: fixed;
	    width: 69%;
	    border-radius: 0px 0px 100px 100px;
	    transition: height .3s ease-out, background .3s ease-out, box-shadow .3s ease-out;
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	    z-index: 100;
	    align-items: center;
	    text-align: center;
	    margin-left: 78px;
	}
	.inner-column{
		margin-top: 15px;
	}
	.inner-column h1{
		font-size: 22px;
	}
	.filter-button-group{
		margin: 10px 0px;
	}

	.contact-imfo-box .col-md-4{
		margin-bottom: 15px;
	}
	.carousel-control-prev{
		left: 0px;
	}
	.carousel-control-next{
		right: 0px;
	}
	.blog-box-inner .blog-detail{
		overflow: hidden;
	}
	.blog-sidebar{
		margin-top: 50px;
	}
	.top-navbar .navbar{
		border-radius: 0px 0px 50px 50px;
	}

}
@media only screen and (min-width: 280px) and (max-width: 599px) {

	.why-text p{
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.inner-column{
		margin-bottom: 30px;
	}
	.inner-menu-box .nav-pills .nav-link{
		font-size: 12px;
		padding: 5px;
	}
	.slides-navigation a {
    background: #8484849e;
    position: absolute;
    height: 35px;
    width: 35px;
    top: 50%;
    font-size: 0px;
    display: block;
    color: #ff1b1bb3;
    border-radius: 4px;
    line-height: 63px;
    text-align: center;
    transition: all .3s ease-in-out;

	.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 56%;
    max-width: 96%;
    margin: 0 31px;
}
.top-navbar .navbar {
    padding: 10px 142px;
    position: fixed;
    width: 69%;
    border-radius: 0px 0px 100px 100px;
    transition: height .3s ease-out, background .3s ease-out, box-shadow .3s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    z-index: 100;
    align-items: center;
    text-align: center;
    margin-left: 78px;
}
}
